language: rust
cache: cargo
rust:
  - nightly
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-8
      - g++-8
script:
  - ./ci/script.sh
deploy:
  provider: releases
  api_key:
    secure: TaUl6M8+S3jYB2iNw2AtjTG2ZTMz6Cvd3GeTLeMjYzHPM0Htx4zvU4llmS2XU4YGU7IygRr95epDPqp29MDMFE6gsV7z2MSls9fSEf4/hQFXyCMb6mr2rDvkX9pEFMolNeGt3Y/TAdXGEUm2DeGCPQ0tq6/Jk599pKgqpzv8S5y+z5k2JpV6ODvENtIMiM1C0C+Yt0vIX78VLPoKzncwcXYnDCuy/uQTrVgeWNNs2W20BsxB4Nw7rlJftXRAaV1PM4vjZrCCFqCns9zJ4Yrb+Bqo0DJZLcO404qhqBdMo/vJYNBuTk9Vb5osccJEdOclXOE8ZOtQJtbm1PpiVhqeSu9536jVXMwaFKMN5u+ioHeQ8ouHLeq7Ar6LhK5y8UiA8euNRNLh5T5Do3hM89h57lHABXREpWA4CHrEh7hgcyzlTbJGIbA0eVQX1D2ju2CWJy0b1zg3zmvUt9QGN0Z0jE4SffAOQ4faWTndMfVghr5Lp81ei5Hndyxw08M5F2aFk8qVq+UYpoXv4U8UDtNJ8FzyhKzOGr7Kl23bmKsylMngB0XPscQyQQFwT+du+3UrG5pbRMEMOFRAr4Q9COceZqRQe7Ozyw6X1eGs4G4fpnMczbu9nvjj7WqtltQKWD1OHmxbAd83oGldcIkqoP9u/NLGn4sg7pzu4cGRHr11iyU=
  file: target/release/cbindgen
  on:
    tags: true
  skip_cleanup: true
